/*
  DIAGNOSTIC STYLING
*/
* {
  color: white;
}
body {
  background: black;
}

* {
  outline: 1px dotted black;
}

/************
LAYOUT
************/
body {
  /* Center to Page   */
  margin: 0 auto;
  max-width: 56em;
  padding: 1em 0;
  
  /* CSS Grid Layout   */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 1em;
}

header,
footer {
  grid-column: 1 / span 5;
}

main {
  grid-column: 1 / span 3;
}

aside {
  grid-column: span 2;
}


/************
HEADER
************/
header h1 {
font-family: 'Staatliches', sans-serif;
font-size: 120px;
text-align: center;
color: white;

}

header h5 {
font-family: 'Staatliches', sans-serif;
font-size: 20px;
text-align: center;
color: white;
margin-top: -40px;
}


/************
MOVIE TRAILER w/ MEDIA ELEMENT PLAYER
************/
/* Fit <video> to container */
video {
  max-width: 100%;
}

.mejs__currenttime, 
.mejs__duration {
  font-size: 18px;
}

.mejs__time-current {
  background: tomato;
}

/************
ACTORS
************/
main section { 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.actors {
display: flex;
color: white;
border: solid 1px red;
margin-top: 50px;
}

img {
width: 120px;
}

/************
FOOTER
************/
footer {
  text-align: center;
}

/************
RWD
************/
@media (max-width: 700px) {

  main,
  aside {
    grid-column: 1 / span 5;
  }
  
}

ul {
color: white;
}
aside {
margin-left: 25px;
margin-top: -20px;
border: solid 1px red;
height: 350px;
}
aside p {
font-size: 20px;
font-family: sans-serif;
}
.body {
line-height: 25px;
}